:root {
	--size-300: 0.75rem;
	--size-400: 1rem;
	--size-500: 1.33rem;
	--size-600: 1.7rem;
	--size-700: 2.5rem;
	--size-800: 3rem;
	--size-900: 5rem;
	--border-colour: rgba(0,0,0,0.1);
	--border-radius: .5rem;
	--border-radius-large: 2rem;
	--underline-colour: rgba(0,0,0,0.3);
	--black: #000;
	--dark-grey: #222;
	--v-dark-grey: #1e1e1e;
	--light-grey: #f7f7f7;
	--white: #fff;
	--yellow: #EEF982;
	--bg-primary: var(--white);
	--bg-secondary: var(--black);
	--bg-tertiary: var(--yellow);
	--color-primary: var(--dark-grey);
	--color-secondary: var(--white);
	--nav-height: 70px;
	--max-width: 1500px;
}

@font-face {
	font-family: 'safiro';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: url('./fonts/safiro-regular-webfont.woff2') format('woff2'),
	     url('./fonts/safiro-regular-webfont.woff') format('woff');
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html[data-theme~='dark'] {
	--bg-primary: #252525;
	--bg-secondary: #424242;
	--color-primary: var(--light-grey);
	--color-secondary: #252525;
	--border-colour: rgba(255,255,255,0.1);
	--underline-colour: rgba(255,255,255,0.3);
}

html, body, div, span, h1, h2, h3, p, small, strong, article, aside, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	background-color: var(--bg-primary);
	color: var(--color-primary);
	scroll-behavior: smooth;
	scroll-padding-top: calc(var(--nav-height) + 2rem);
}

body {
	line-height: 1.5;
	font-family: 'safiro', system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji;
	font-size: 18px;
	font-weight: 400;
}

b,strong {
	font-weight: 400;
}

a {
	color: currentColor;
	position: relative;
	text-decoration-color: var(--underline-colour);
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
	transition: text-decoration-color .25s;
	@media(hover : hover){
		&:hover {
			text-decoration-color: currentColor;
		}
	}
	&.btn {
		display: inline-block;
		font-size: var(--size-400);
		padding: .5rem .75rem;
		background-color: var(--bg-secondary);
		color: var(--bg-primary);
		text-decoration: none;
		border: 1px solid var(--border-colour);
		border-radius: var(--border-radius);
		margin: .5rem 0 0;
	}
	&.has-icon {
		display: inline-flex;
		align-items: center;
		svg {
			display: block;
			width: 14px;
			height: 14px;
		}
	}
}

html[data-theme~='dark'] a.btn {
	color: var(--white);
}

h1,.h1 {
	font-weight: 400;
	font-size: var(--size-700);
	line-height: 1;
	max-width: 40ch;
	margin: 1rem 0 0;
	letter-spacing: -0.03em;
	@media(min-width: 768px){
		font-size: var(--size-800);
	}
	@media(min-width: 1024px){
		font-size: var(--size-900);
	}
}

h2,.h2 {
	font-weight: 400;
	font-size: var(--size-600);
	line-height: 1.25;
	letter-spacing: -0.025em;
	max-width: 27ch;
	margin: .75rem 0;
	@media(min-width: 1024px){
		font-size: var(--size-700);
	}
}

h3,.h3 {
	font-weight: 400;
	font-size: var(--size-500);
	line-height: 1.25;
	max-width: 30ch;
	margin: 0 0 .25rem;
	@media(min-width: 1024px){
		font-size: var(--size-600);
	}
}

h4,.h4 {
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.25;
	max-width: 30ch;
	margin: 0 0 .5rem;
}

p {
	font-size: var(--size-400);
	max-width: 60ch;
	margin: 1em 0;
}

small {
	font-size: var(--size-300);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	margin: 0;
	padding: 0 1rem;
	z-index: 3;
	> div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		width: 100%;
		max-width: calc(var(--max-width) - 2rem);
		background-color: var(--light-grey);
		border: 1px solid var(--border-colour);
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		height: var(--nav-height);
		padding: 0 1rem;
		margin: 0 auto 0;
		@media(min-width: 1024px){
			margin: .5rem auto 0;
			border-radius: var(--border-radius);
		}
	}
	strong {
		line-height: 1;
		letter-spacing: -0.03em;
		font-size: var(--size-500);
	}
}

html[data-theme~='dark'] header > div {
	background-color: var(--v-dark-grey);
}

button.menu-toggle-theme {
	display: inline-block;
	font-size: var(--size-400);
	padding: .5rem .5rem;
	background-color: var(--bg-primary);
	color: var(--bg-secondary);
	text-decoration: none;
	border: 1px solid var(--border-colour);
	border-radius: var(--border-radius);
	cursor: pointer;
	svg {
		width: 46px;
		height: 22px;
	}
}

svg.icon {
	display: block;
	fill: none;
	stroke: currentColor;
	stroke-width: 4px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

button.copy-url {
	display: inline-flex;
	gap: .1rem;
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	box-shadow: none;
	color: currentColor;
	font-family: inherit;
	font-size: var(--size-400);
	line-height: inherit;
	cursor: pointer;
	span {
		line-height: 1;
		padding: 0 0 2px;
		border-bottom: 1px solid var(--underline-colour);
		transition: border-color .25s;
	}
	svg {
		display: block;
		width: 15px;
		height: 15px;
	}
	&.copied {
		color: green;
		pointer-events: none;
	}
	@media(hover : hover){
		&:hover {
			span {
				border-color: currentColor;
			}
		}
	}
}

html[data-theme~='dark'] button.menu-toggle-theme {
	color: var(--white);
}

nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
}

main {
	padding: var(--nav-height) 1rem;
	max-width: var(--max-width);
	margin: 0 auto;
	@media(min-width: 1024px){
		padding: calc(var(--nav-height) + .5rem) 1rem;
	}
}

footer {
	padding: 1rem;
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	@media(min-width: 768px){
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem 2rem;
		padding: 0 2rem 1rem;
	}
	> div {
		> div {
			display: flex;
			align-items: center;
			gap: 1rem;
			p {
				margin-block-end: 0;
			}
			button {
				margin-block-start: 1rem;
			}
		}
		&:last-of-type {
			p {
				display: flex;
				flex-wrap: wrap;
				gap: .25rem 2rem;
			}
		}
	}
}

section {
	padding: 3rem 0;
	@media(min-width: 768px){
		padding: 3rem 1rem;
	}
}

#intro {
	min-height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: .5rem 1rem;
	background-color: var(--bg-tertiary);
	color: var(--dark-grey);
	border: 1px solid var(--border-colour);
	border-radius: var(--border-radius);
	margin-block-start: 10px;
	margin-block-end: 3rem;
	padding: 1rem 1rem 2rem;
	position: relative;
	@media(min-width: 768px){
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		gap: 4rem;
		> h1,
		> div {
			width: 50%;
		}
		p {
			max-width: 46ch;
		}
	}
}

html[data-theme~='dark'] #intro {
	background-color: var(--v-dark-grey);
	color: var(--color-primary);
	border-color: var(--border-colour);
	> h1 {
		color: var(--bg-tertiary);
	}
}

#foreward > div {
	@media(min-width: 768px){
		columns: 2;
		column-gap: 4rem;
		p {
			margin: 0 0 1rem;
		}
	}
}

#sections .section {
	padding: 3rem 0;
}

#sections .part {
	width: 100%;
	border: 1px solid var(--border-colour);
	background-color: var(--light-grey);
	border-radius: var(--border-radius);
	position: relative;
	padding: 1.25rem 1rem 1.25rem;
	&:not(:last-of-type) {
		margin-block-end: 2rem;
	}
	@media(min-width: 1024px){
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 250px;
	}
	> * {
		margin: 0;
	}
	.part-content > div {
		display: flex;
		flex-direction: column;
		gap: .5rem 1rem;
		margin-block-end: 2rem;
		h3 {
			margin: 0;
		}
		p {
			opacity: 0.8;
		}
	}
	.part-aside {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		width: 100%;
		padding: 1rem;
		border: 1px solid var(--border-colour);
		background-color: var(--white);
		border-radius: var(--border-radius);
		margin-block-start: 2rem;
		font-size: var(--size-400);
		@media(min-width: 1024px){
			margin-block-start: 0;
		}
		p.h4:nth-of-type(2) {
			margin-top: 2rem;
		}
	}
	.part-info {
		margin: 0;
		width: 100%;
	}
}

html[data-theme~='dark'] {
	#sections .part {
		background-color: var(--v-dark-grey);
		.part-aside {
			background-color: var(--bg-primary);
		}
	}
}

#dictionary > div {
	aside {
		width: 100%;
		display: block;
		flex: 0 0 auto;
		@media(max-width: 767px){
			position: sticky;
			top: var(--nav-height);
			left: 0;
			z-index: 2;
			background-color: var(--bg-primary);
			border-bottom: 1px solid var(--border-colour);
		}
		nav {
			display: flex;
			gap: .5rem;
			padding: 1rem 0;
			scroll-target-group: auto;
			@media(max-width: 767px){
				flex-wrap: nowrap;
				overflow-x: scroll;
				padding: .5rem 0;
				-ms-overflow-style: none;
				scrollbar-width: none;
				&::-webkit-scrollbar {
					display: none;
				}
			}
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 0 0 auto;
				font-size: var(--size-400);
				width: 24px;
				height: 24px;
				background-color: var(--white);
				color: var(--dark-grey);
				border: 1px solid var(--border-colour);
				border-radius: var(--border-radius);
				text-align: center;
				line-height: 1;
				text-decoration: none;
				&:target-current {
					background-color: var(--bg-tertiary);
				}
			}
		}
	}
	article {
		flex: 1 1 auto;
		p {
			max-width: 72ch;
		}
	}
	@media(min-width: 768px){
		display: grid;
		grid-template-columns: 25px 1fr;
		gap: 2rem;
		aside {
			nav {
				flex-direction: column;
				position: sticky;
				top: var(--nav-height);
				left: 0;
				gap: .25rem;
			}
		}
	}
}

html[data-theme~='dark'] {
	#dictionary > div {
		aside {
			nav {
				a {
					background-color: var(--v-dark-grey);
					color: var(--color-primary);
					border-color: var(--underline-colour);
				}
			}
		}
	}
}
